.newsList {
    list-style: none;
    padding-left: 0px;
    a {
        display: flex;
        text-decoration: none;
        color: #1B1919;
        margin-bottom: 30px;
        border-bottom: 1px solid #DEDEDE;
        padding-bottom: 30px;
        flex-wrap: wrap;
        .cat {
            font-size: 12px;
            border: 1px solid rgba(119,119,119,.3);
            border-radius: 5px;
            padding: 5px 10px;
        }
        .title {
            padding-top: 20px;
            @include media-breakpoint-up(sm) {
               padding-top: 0px; 
            }
        }
    }

}
