.newsBar {
  background-color: $body-color;
  display: grid;
  grid-template:
    "header .... footer"
    "body   body body"
    / auto 1fr auto;
  @include media-breakpoint-up(sm) {
    grid-template:
      "header body footer"
      / 80px 1fr auto;
  }
  .header {
    grid-area: header;
    text-transform: uppercase;
    margin: auto;
    padding: 15px;
    color: $white;
    @include media-breakpoint-up(sm) {
      border-right: 1px solid $white;
      padding: 20px;
    }
  }
  .body {
    grid-area: body;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid $white;
    @include media-breakpoint-up(sm) {
      border-top: none;
      justify-content: flex-start;
      padding-left: 20px;
    }
    a {
      text-decoration: none;
      color: $body-color;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 20px 15px;
      @include media-breakpoint-up(sm) {
        align-items: center;
        flex-direction: row;
        padding: 0px;
      }
      .date {
        color: $white;
        padding-bottom: 15px;
        @include media-breakpoint-up(sm) {
          padding-right: 15px;
          padding: 20px;
          margin: auto;
        }
      }
      .text {
        margin: auto;
        color: $white;
        padding-right: 0px;
        @include media-breakpoint-up(sm) {
          padding-right: 135px;
        }
      }
    }
  }
  .footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    a {
      color: $white;
      opacity: 0.5;
      text-decoration: none;
    }
  }
}
