.catchCopyBorder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  padding-left: 8vw;
  margin: 0;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    gap: 0;
  }
  span {
    padding-bottom: 12px;
    border-bottom: solid 3px #1E2124;
    color: #1E2124;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.4rem;
    @include media-breakpoint-up(lg) {
      padding-bottom: 20px;
      font-size: 36px;
      &:nth-child(1){
        padding-right: 0;
      }
      &:nth-child(2){
        padding-left: 0;
      }
    }
  }
  &.center {
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}
